Repository OopsYao/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.yaml:

'*.{js,jsx}': eslint --cache --fix
'*.{js,jsx,html,md,yml,yaml,css,scss}': prettier --write

✨ Add HtmlWebpackPlugin and WebDevServer support
  .browserslistrc
  .gitignore
  .lintstagedrc.yaml
  package.json
  postcss.config.js
  src/App.js
  src/App/.module.css
  src/App/index.js
  src/App/style.css
  src/index.html
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

📝 Update README for features
  README.md
Due: prettier --write

✅ Add Jest
  package.json
  src/services/addSvc/.test.js
  src/services/addSvc/index.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

✨ Extract css and minify
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

💡 Add comments in code
  webpack.config.js
Due: eslint --cache --fix, prettier --write

🔧 Mute some verbose logs
  webpack.config.js
Due: eslint --cache --fix, prettier --write

✨ Add favicon plugin
  package.json
  src/logo.svg
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

🔧 Change relative path to file-based
  webpack.config.js
Due: eslint --cache --fix, prettier --write

🔧 Workaround for MiniCssExt HMR not working
  webpack.config.js
Due: eslint --cache --fix, prettier --write

👷 Add Github action
  .github/workflows/CI.yaml
Due: prettier --write

💚 Fix missing build platform
  .github/workflows/CI.yaml
Due: prettier --write

📝 Add Github action badge
  README.md
Due: prettier --write

👷 Enable dependabot
  .github/dependabot.yml
Due: prettier --write

⚗ Try to fix dependabot with npm ecosystem
  .github/dependabot.yml
Due: prettier --write

🚀 Deploy to Netlify
  .github/workflows/CI.yaml
  netlify.toml
Due: prettier --write

🚀 Fix missing netlify param
  .github/workflows/CI.yaml
Due: prettier --write

🚀 Try to fix wrong path of artifacts
  .github/workflows/CI.yaml
Due: prettier --write

🚀 Try to not use netlify cli arg
  .github/workflows/CI.yaml
Due: prettier --write

💚 Try to fix slow install in CI
  .github/workflows/CI.yaml
Due: prettier --write

🚀 Add prod arg
  .github/workflows/CI.yaml
Due: prettier --write

📝 Add Netlify badge
  README.md
Due: prettier --write

⚗ Yarn 2
  .eslintrc.yaml
  .gitignore
  .prettierignore
  .yarn/releases/yarn-berry.js
  .yarnrc.yml
  yarn.lock
Due: eslint --cache --fix, prettier --write

⏪ Revert "⚗ Yarn 2". This reverts commit d9e59c7171692a4e43c631d79e5ad7f25e1a3228.
  .eslintrc.yaml
  .gitignore
  .prettierignore
  .yarn/releases/yarn-berry.js
  .yarnrc.yml
  yarn-error.log
  yarn.lock
Due: eslint --cache --fix, prettier --write

⏪ Revert "⚗ Yarn 2". This reverts commit d9e59c7171692a4e43c631d79e5ad7f25e1a3228.
  .eslintrc.yaml
  .gitignore
  .prettierignore
  .yarn/releases/yarn-berry.js
  .yarnrc.yml
  yarn.lock
Due: eslint --cache --fix, prettier --write

🎨 Format ignore files
  .gitignore
  .prettierignore
  yarn-error.log
Due: none

⬆️ Security upgrade
  yarn.lock
Due: none

📝 Update badges
  README.md
Due: prettier --write

💚 Avoid PR deploy
  .github/workflows/CI.yaml
Due: prettier --write

👷 Add cache
  .github/workflows/CI.yaml
Due: prettier --write

👷 Merge publish job
  .github/workflows/CI.yaml
Due: prettier --write

🔧 Separate husky config
  .huskyrc.js
  package.json
Due: eslint --cache --fix, prettier --write

🔧 Config reconstruction (#21)
  .github/workflows/CI.yaml
  .huskyrc.js
  package.json
Due: eslint --cache --fix, prettier --write

💚 Fix cache order
  .github/workflows/CI.yaml
Due: prettier --write

💚 Fix cache (#22)
  .github/workflows/CI.yaml
Due: prettier --write

🐛 fix webpack-dev-server command
  package.json
  yarn.lock
Due: none

🐛 fix webpack-dev-server command (#77)
  package.json
  yarn.lock
Due: none
